body {
    font-family: 'Rubik', sans-serif;
}

.weather-header {
    font-family: 'Source Serif Pro', serif;;
    font-size: 200px;
    margin-top: 200px;
    font-weight: 600;
}

h2 {
    
    font-style: italic;
    font-size: 2rem;
    font-weight: 300;
}